.create-ads-btn {
    letter-spacing: 2px;
    color: var(--text-title-color);
    font-family: "Alegreya", serif;
    font-size: 18px;
}

.create-ads a {
    color: var(--text-color);
    padding: 0.5rem 1.75rem;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.create-ads a:hover {
    background-color: #a55e3f;
    color: white;
}

/* User Dashboard -start */
.user-dashboard-main-container {
    margin-top: 4%;
    margin-bottom: 0;
    margin-left: 6%;
    margin-right: 6%;
}

/* upper section */
.dashboard-path-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Dashboard */
.user-dashboard-wrapper {
    display: flex;
}

/* Sidebar for desktop */
.dashboard-sidebar-desktop-wrapper {
    display: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    color: white;
    height: 100%;
    overflow: hidden;
    border: 1px solid #D1D5DB;
    border-radius: 0.375rem;
}

@media (min-width: 1024px) {
    .dashboard-sidebar-desktop-wrapper {
        display: block;
        width: auto;
    }
}

.u-sidebar-value {
    transition: all 0.15s ease;
    color: #252a34;
    padding: 0.5rem 1.25rem;
    width: 350px;
    cursor: pointer;
}

.u-sidebar-value:hover {
    background-color: #a55e3f;
    /* customBlue */
    color: white;
}

.u-sidebar-value:hover .dashboard-sidebar-sub-title {
    color: white;
}

.dashboard-sidebar-sub-title {
    color: #6C757D;
}

.dashboard-sidebar-options li {
    display: block;
    border-bottom: 1px solid #D1D5DB;
}

/* edit dashboard options */
.u-sidebar-value .ud-icon-left {
    float: left;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 32px;
}

.u-sidebar-value .fa-arrow-right-long {
    float: right;
    margin-top: 1rem;
}

.dashboard-sidebar-title {
    font-size: 20px;
    font-weight: bold;
}

.dashboard-sidebar-sub-title {
    font-size: 0.875rem;
    /* text-sm */
}

/* user main content */
.user-role{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--text-title-color);
    margin-bottom: 1.25rem;
}

.u-dashboard-content-wrapper {
    flex: 1;
    padding-left: 1.5rem;
}

.ud-empty-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 90px;
    padding-bottom: 90px;
}

.ud-dashboard-page,
.ud-advert-page,
.ud-saved-advert-page,
.ud-security-page {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.375rem;
    /* rounded */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
}

.ud-page-wrapper h2 {
    color: var(--text-color);
    font-family: 'Alegreya', 'serif';
}

/* edit dashboard page */
.ud-profile-image-wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin: 0 10px 10px 0; */
}

.ud-profile-image {
    border-radius: 50%;
    width: 150px;
    /* Adjust the size as needed */
    height: 150px;
    /* Adjust the size as needed */
    object-fit: cover;
}

.ud-btn {
    color: var(--text-color);
    padding: 0.5rem 1.75rem;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.ud-btn:hover {
    background-color: #a55e3f;
    color: white;
}

/* edit my advert page */
.ud-advert-page,
.ud-saved-advert-page {
    display: flex;
    gap: 1.25rem;
    width: 100%;
}

.ud-advert-keyword-wrapper input,
.ud-advert-status-wrapper select {
    width: 100%;
    padding: 0.375rem 0.75rem;
}

.ud-advert-keyword-input {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem 0 0 0.5rem;
}

.ud-advert-keyword-search {
    cursor: pointer;
    background-color: #e9ecef;
    color: #495057;
    padding: 0.625rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0.5rem 0.5rem 0;
}

/* edit savedAds container */
.savedAd-listing-container {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5rem;
    width: 100%;
    border-radius: 0.5rem;
}

.savedAd-listing-wrapper {
    display: flex;
}

.savedimg {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0.5rem;
}

/* .savedimg{
    height: 250px;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0.5rem;
} */

.savedAd-details {
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    max-width: 50%;
}

.savedAd-title {
    color: #1DA1F2;
    /* customBlue */
    font-weight: bold;
    font-size: 1.875rem;
    /* text-3xl */
}

.savedAd-price {
    color: #A82E23;
    font-weight: bold;
    margin-top: 0.75rem;
}

.savedAd-location {
    margin-top: 0.75rem;
}

.savedAd-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.savedAd-view {
    color: var(--text-title-color);
    padding: 0.5rem 0.625rem;
}

.savedAd-delete {
    color: #A82E23;
    padding: 0.5rem 0.625rem;
}


/* Selling Section */
/* Container for tabs */
.tab-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* Tabs */
.tab {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid #e0e0e0; */
    margin: 1rem;
}

.tab-link {
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
    color: #666;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.tab-link.active {
    color: var(--text-title-color);
    /* border-bottom: 3px solid var(--text-title-color); */
}

/* Tab content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Empty state styling */
.empty-state {
    text-align: center;
    padding: 2rem;
}

.empty-state .icon {
    font-size: 3rem;
    color: #666;
    margin-bottom: 1rem;
}

.empty-state h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
}

.empty-state p {
    font-size: 1rem;
    color: #777;
}

.cta-button {
    background-color: #c00;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}
/* User Dashboard - end */

/* Admin dasboard -start */
.plt-summery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.25rem;
    /* 5 */
}

.plt-summery-lists {
    position: relative;
    padding: 1rem;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.1),
        1px 0 15px rgba(0, 0, 0, 0.1),
        0 10px 15px rgba(0, 0, 0, 0.1);
    height: 150px;
    transition: transform 0.3s ease;
}

.plt-summery-lists:hover {
    transform: scale(1.05);
}

.summery-title {
    color: var(--text-title-color);
    font-family: 'Alegreya', 'serif';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5rem;
}

.summary-amount {
    font-size: 2.25rem;
    font-family: 'Alegreya', 'serif';
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--text-color);
}

.summery-icon {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: var(--text-color);
    font-size: 1.25rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.plt-summery-lists:hover .summery-icon {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* advert section */
.sub-listing-container, .user-info-container {
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.1),
    1px 0 15px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 0.5rem; 
}

.sub-listing-content-up {
    display: flex;
}

.sub-listing-main-img {
    height: 300px;
    width: 300px;
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0.5rem;
}

.sub-listing-info {
    padding-top: 0.75rem; 
    padding-left: 1.5rem; 
    max-width: 50%;
}

.sub-listing-title {
    color: var(--text-title-color); 
    font-family: 'Alegreya', 'serif';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5rem; 
}

.sub-listing-features{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 10px;
}

.sub-listing-feature-value{
    font-family: 'Lato', sans-serif;
}

.listing-price-label {
    padding-top: 0.75rem; 
    padding-left: 0.75rem; 
    margin-left: auto;
    padding-right: 1rem;
}

.listing-price {
    color: var(--text-title-color);
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Alegreya', 'serif';
    float: right;
}

.sub-listing-content-bottom {
    padding: 0.5rem; 
}

.sub-listing-imgs-table {
    display: flex;
    width: 80%;
    height: 10%;
}

.sub-listing-img {
    height: 100%;
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-right: 0.25rem; */
}

/* users section */
.user-card-profile-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.user-listing-info {
    display: flex;
    gap: 1rem;
}

.user-info-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem; 
}

.user-info-content {
    /* padding: 1.25rem; */
    padding: 20px 20px 0 20px;
}

.user-info-title {
    color: var(--text-title-color); 
    font-weight: 600; 
    font-size: 1.875rem; 
    padding: 1.25rem 0.5rem; 
}

.user-info-tag {
    width: 100%; 
}

@media (max-width: 768px) {
    .user-info-tag {
        width: 50%; 
    }
}

@media (max-width: 1024px) {
    .user-info-tag {
        width: 33.3333%;
    }
}

.user-info-tag {
    padding: 0.5rem; 
}

.user-info-btns {
    display: flex; 
    justify-content: flex-end;
    gap: 1.25rem;
    margin-top: 1rem; 
}

.user-btn-warning {
    background-color: #EF4444;
    color: white; 
    padding: 0.5rem 1rem; 
    border-radius: 0.25rem; 
    transition: background-color 0.3s;
}

.user-btn-warning:hover {
    background-color: #7F1D1D;
}

.user-btn-warning:focus {
    outline: none; 
}

.user-btn-danger {
    border: 1px solid #EF4444; 
    color: #EF4444;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem; 
    transition: background-color 0.3s, color 0.3s;
}

.user-btn-danger:hover {
    background-color: #EF4444; 
    color: white;
}

.user-btn-danger:focus {
    outline: none; 
}